# 4.9 Task - Part 1

In [1]:
#importing libraries and new customer data set
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
customers = pd.read_csv(r'/Users/jonahsnewmacbook/Instacart Basket Analysis/02 Data/Original Data/customers.csv')

In [3]:
#create a path
path=r'/Users/jonahsnewmacbook/Instacart Basket Analysis'

In [4]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
customers = customers.rename(columns={'First Name':'first_name', 'Surnam':'surname', 'Gender':'gender', 'STATE':'state', 'Age':'age'})

In [7]:
#check changes
print(customers)

        user_id first_name   surname  gender           state  age date_joined  \
0         26711    Deborah  Esquivel  Female        Missouri   48    1/1/2017
1         33890   Patricia      Hart  Female      New Mexico   36    1/1/2017
2         65803    Kenneth    Farley    Male           Idaho   35    1/1/2017
3        125935   Michelle     Hicks  Female            Iowa   40    1/1/2017
4        130797        Ann   Gilmore  Female        Maryland   26    1/1/2017
...         ...        ...       ...     ...             ...  ...         ...
206204   168073       Lisa      Case  Female  North Carolina   44    4/1/2020
206205    49635     Jeremy   Robbins    Male          Hawaii   62    4/1/2020
206206   135902      Doris  Richmond  Female        Missouri   66    4/1/2020
206207    81095       Rose   Rollins  Female      California   27    4/1/2020
206208    80148    Cynthia     Noble  Female        New York   55    4/1/2020

        n_dependants fam_status  income
0                  3    married  165665
1                  0     single   59285
2                  2    married   99568
3                  0     single   42049
4                  1    married   40374
...              ...        ...     ...
206204             1    married  148828
206205             3    married  168639
206206             2    married   53374
206207             1    married   99799
206208             1    married   57095

[206209 rows x 10 columns]

In [11]:
customers.dtypes

user_id          int64
first_name      object
surname         object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [15]:
#checking for missing values
customers.isnull().sum()

user_id             0
first_name      11259
surname             0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [16]:
#checking for duplicates
customers_dups = customers[customers.duplicated()]

In [17]:
customers_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

In [18]:
#no duplicates but we have a lot of data that are missing first_name
#I will leave the first_name that are missing values are as is. first_name isn't a column that we need to examine through data

In [19]:
#this needs to be combined with the rest of the prepared Instacart data (can be connected through 'user_id'
#converting customers.csv to pkl
customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers.pkl'))

In [21]:
#import ords_prods_transform
ords_prods_transform2 = pd.read_pickle(r'/Users/jonahsnewmacbook/Instacart Basket Analysis/02 Data/Prepared Data/ords_prods_transform2.pkl')

In [24]:
#now merge the two dataset through user_id
ords_prods_fin= ords_prods_transform2.merge(customers, on = 'user_id')

In [25]:
ords_prods_fin.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_timestamp,...,frequency_buyer,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent_customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent_customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Frequent_customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent_customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Frequent_customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

In [26]:
#exporting this new dataframe
ords_prods_fin.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_fin.pkl'))